:root{
    --titleFont : 'Bungee Spice', sans-serif;
    --subTitles : 'VT323', monospace;  
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/*Seccion fuera del contenedor*/
body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.imgFondo{
    position: absolute;
    z-index: -10;
    width: 98.9vw;
    height: 100vh;
}
.title{
    font-family: var(--titleFont);
    font-size: 4rem;
    text-align: center;
    padding: 30px 0 0 0;
}
/*seccion de elegir la mascota*/
.containerSectionMascotas, .containerSectionAtaque, .containerSectionResultado{
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0.3);
    width: 600px;
    margin: 20px 0 0 0;
    border-radius: 20px;
    font-family: var(--subTitles);
}
.subTitleMascotas, .subTitleAtaque, .subTitleCombate{
    font-size: 2rem;
    margin: 20px 0 20px 20px;
}
.containerMascotas1, .containerMascotas2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.containermascota{
    display: flex;
    justify-content: space-between;
    border: solid 2px #ffffff;
    margin: 5px;
    width: 150px;
    cursor: pointer;
}
.inputMascotas{
    display: none;
}
.inputMascotas:checked + label{
    border: solid 2px #5eff00;
}
.inputMascotas:checked + label p{
    background-color: #5eff00;
}
.inputMascotas:checked + label img{
    opacity: 1;
}
.nombreMascota{
    writing-mode: vertical-lr;/*invertir texto en vertical*/
    text-orientation: upright;
    text-align: center;
    background-color: #ffffff;   
}
.imgMascota{
    width: 100px;
    height: 100px;
    align-self: center;
    opacity: 0.5;
}
.btnSeleccionarMascota, .btnResultado{
    font-family: var(--subTitles);
    padding: 5px 10px;
    font-size: 1.2rem;
    margin: 10px 0 20px calc(50% - 50px);
    border-radius: 10px;
}
.btnSeleccionarMascota, .btnResultado:hover{
    background-color: #5eff00;
}
/*Seccion elegir ataque*/
.containerataques, .containerCombate{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.containerVs{
    align-self: center;
    font-family: var(--titleFont);
    font-size: 50px;
}
.btnAtaque{
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btnAtaque:hover{
    transform: scale(1.2);
    transition: all .5s;
}
.combateContainermascota{
    position: relative;
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.652);
    width: 148px;
    height: 146px;
    cursor: auto;
    
}
.combateAtaque{
    position: absolute;
    font-size: 2.5rem;
    left: 16px;
    background-color: rgb(255, 0, 0);
}
.combateVidas{
    position: absolute;
    left: 112px;
    bottom: 0;
    font-size: 1.5rem;
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    padding: 0 10px;
}
.combateImgMascota{
    position: absolute;
    width: 130px;
    height: 130px;
    left: 10px;
}
.combateNombreMascota{
    background-color: rgb(255, 0, 0);
}
.subTitleResultadoPartida{
    font-family: serif;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #00fbffb7;
    border-radius: 0 0 20px 20px;
    text-align: center;
    margin: 10px 0 0 0;
    padding: 10px 0;
    color: rgb(34, 0, 255);
}
/*seccion Resultado*/
.containerSectionResultado{
    display: flex;
    flex-direction: column;
}
.subTitleResultadoTotal{
    text-align: center;
    margin: 20px 0 0 0;
    padding: 30px 0 0 0;
    font: normal bold 46px/1 "proxima-nova";
    letter-spacing: 10px;
    text-shadow: 0px 0px 14px rgba(255, 0, 0, 1);
    animation: cssAnimation_0 3000ms infinite ease-in 1500ms;
}
  @keyframes cssAnimation_0 {
    from {
      text-shadow: 0px 0px 14px rgba(255, 0, 0, 1);
    }
  
    to {
      text-shadow: 0px 0px 75px rgba(250, 2, 2, 1);
    }
  }
.btnResultado{
    border-radius: 20px;
    margin: 20px 0 0 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.689);
    color: #ffffff;
}
  
@media (max-width: 630px){
    .title{
        font-size: 2.5rem;
        margin: 30px 0 0 0;
    }
    .containerSectionMascotas, .containerSectionAtaque, .containerSectionResultado{
        width: 350px;
    }
    .containerSectionAtaque, .containerSectionResultado{
        margin: 80px 0 0 0;
    }
    .subTitleMascotas, .subTitleAtaque, .subTitleCombate{
        font-size: 1rem;
    }
    .containermascota{
        width: 100px;
        margin: 10px 10px 0 10px;
    }
    .nombreMascota{
        font-size: 12px;   
    }
    .imgMascota{
        width: 80px;
        height: 80px;
    }
    .containerVs{
        font-size: 30px;
    }
    .btnAtaque{
        font-size: 2rem;
    }
    .containerataques{
        gap: 30px;
    } 
    .containerCombate{
        gap: 0;
    }
    .combateContainermascota{
        width: 118px;
        height: 116px;
    }
    .combateAtaque{
        font-size: 1.5rem;
        left: 12px;
    }
    .combateVidas{
        left: 95px;
        bottom: 0;
        font-size: 1rem;
        padding: 0 5px;
    }
    .combateImgMascota{
        width: 100px;
        height: 100px;
        left: 10px;
    }
    .subTitleResultadoTotal{
        font: normal bold 26px/1 "proxima-nova";
    }
}

@media (max-width: 380px){
    .title{
        font-size: 2.5rem;
    }
    .containerSectionMascotas, .containerSectionAtaque, .containerSectionResultado{
        width: 280px;
    }
    .containerVs{
        font-size: 20px;
    }
    .combateContainermascota{
        width: 98px;
        height: 96px;
    }
    .combateAtaque{
        font-size: 1rem;
        left: 12px;
    }
    .combateVidas{
        left: 75px;
    }
    .combateImgMascota{
        width: 80px;
        height: 80px;
    }
    .subTitleResultadoTotal{
        font: normal bold 26px/1 "proxima-nova";
    }
}